.box1 {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.foto > img {
  margin-top: 1.5rem;
  width: 30vh;
}

.contacto {
  margin-left: 0.1rem;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem auto;
  font-family: "Josefin Sans", sans-serif;
}

.contacto > a {
  text-decoration: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.contacto > a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  transition: 60ms;
}

.material-symbols-outlined {
  background-color: beige;
  color: brown;
  padding-right: 2rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  margin-right: 2rem;
}

.material-symbols-outlined:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 60ms;
}

.habilidades {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.habilidades > p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin: 0.7rem;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

progress {
  background-color: brown;
}
